<ion-view cache-view="false">

    <ion-nav-title>
        {{category}}
    </ion-nav-title>
    <ion-content class="has-header">


            <div class="padding">
                <span class="item-note">
                      {{evento.start_date*1000 | date}}
                    </span>

                <p>
            </div>
            <div class="item item-body center">
                <h2>{{evento.post_title}}</h2>
            </div>
            <div class="item item-avatar">
                <p>
                    <i class="icon ion-location"></i>
                    {{evento.location_name}}
                    <br>
                    {{evento.location}}
                </p>
                </p>
                <p>
                    <i class="icon ion-clock"></i>
                    {{evento.start_date*1000 | date:"HH:mm"}}

                </p>
                <p>
                    <i class="icon ion-ios-circle-outline"></i>
                    {{evento.price}}
                </p>
            </div>
            <div class="item item-image">
                <img ng-src={{evento.image}} ng-show="evento.image">
            </div>

            <div class="item item-body">

                <p class="bubble padding" ng-bind-html="evento.post_content"></p>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item enlaces" ng-click="shareAnywhere()">
                    <i class="icon ion-share"></i>
                    {{'Compartir' | translate }}
                </a>

                <a ng-click="openLink()" class="tab-item enlaces"  >
                    <i class="icon ion-earth"></i>
                    {{'Ver en web' | translate }}
                </a>

                <a ng-click="goMap()" class="tab-item enlaces">
                    <i class="icon ion-map"></i>
                    {{'Abrir no Mapa' | translate}}
                </a>
            </div>


    </ion-content>


</ion-view>
