<ion-view cache-view="false">

    <ion-nav-title>
        {{category}}
    </ion-nav-title>

    <ion-content class="has-header">

            <div class="padding">
                <span class="item-note">
                      {{evento.start_date*1000 | date}}
                    </span>

                <p>
            </div>

            <div class="item item-body center">
                <h2>{{evento.post_title}}</h2>
            </div>

            <div class="item item-avatar">

                <p>
                    <span class="vnc-geo"></span>
                    {{evento.location_name}}
                    <br>
                    {{evento.location}}
                </p>

                <p>
                    <span class="vnc-hora"></span>
                    {{evento.start_date*1000 | date:"HH:mm"}}

                </p>

                <p>
                    <span class="vnc-precio"></span>
                    {{evento.price}}
                </p>

            </div>

            <div class="item item-image">
                <img ng-src={{evento.image}} ng-show="evento.image">
            </div>

            <div class="item item-body">
                <p class="bubble padding" ng-bind-html="evento.post_content"></p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item enlaces" ng-click="shareAnywhere()">
                    <span class="vnc-compartir"></span>
                    Compartir
                </a>

                <a ng-click="openLink()" class="tab-item enlaces"  >
                    <span class="vnc-web"></span>
                    Ver na web
                </a>
                <!--
                <a ng-click="goMap()" class="tab-item enlaces">
                    <i class="icon ion-map"></i>
                    Abrir no Mapa
                </a>
                -->
            </div>

    </ion-content>


</ion-view>
