<ion-view cache-view="false">

    <ion-nav-title>
        <span class="dia">{{date | date:'d'}}</span>
        <span class="mes">{{date | date:'MMM'}}'</span>
        <span class="ano">{{date | date:'yy'}}</span>
    </ion-nav-title>

  <ion-content class="has-header" >

      <div class="list">
          <a class="item item-image calendar-image item-icon-right bs-callout" ng-style="{ 'border-right-color': getColor(evento)}" ng-repeat="evento in eventos | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              <div class="texto-imaxe item ">{{evento.post_title}}</div>


          </a>

          <a class="item item-image calendar-image item-icon-right bs-callout" ng-style="{ 'border-right-color': getColor(evento)}"  ng-repeat="evento in eventos2 | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              <div class="texto-imaxe item ">{{evento.post_title}}</div>
          </a>

      </div>
  </ion-content>


    <ion-footer-bar  align-title="center">
        <div ng-click="showPopup()" class="item item-input fondo-vnc boton-data">
            <span class="input-label" ng-if="data_evento.getDate() != date.getDate()">{{data_evento| date:'longDate'}}</span>
            <span class="input-label" ng-if="data_evento.getDate() == date.getDate()">Escolle unha data</span>
            <!--
            <input type="date" ng-model="data_evento" ng-change="showEvents(data_evento)">
            -->
            <i class="icon ion-plus icono-dereita"></i>
        </div>
    </ion-footer-bar>

</ion-view>
