<ion-view>
    <ion-nav-title>
        Vivir na Coruña
    </ion-nav-title>
  <ion-content class="has-header">


      <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item enlaces" ng-click="goUrl('https://twitter.com/vivirnacoruna')">
              <i class="icon ion-social-twitter"></i>
          </a>
          <a class="tab-item enlaces" ng-click="goUrl('https://www.facebook.com/vivirnacoruna')">
              <i class="icon ion-social-facebook"></i>
          </a>
          <a class="tab-item enlaces" ng-click="goUrl('https://instagram.com/vivirnacoruna')">
              <i class="icon ion-social-instagram"></i>
          </a>
      </div>

  </ion-content>
</ion-view>
