<ion-view  title="Vivir Na Coruña" cache-view="false">
    <ion-content>


                <form ng-submit="buscar(texto)">
                    <div class="bar bar-header item-input-inset">

                        <label class="item-input-wrapper">
                            <i class="icon ion-ios7-search placeholder-icon"></i>
                            <input type="search" placeholder="{{'Escriba texto...' | translate}}" ng-model="texto">
                        </label>

                        <input type="submit" value="{{'Buscar' | translate}}" class="button button-clear" ng-hide="false"/>


                    </div>
                </form>
                <div class="div-wrapper">

                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-markers
                                models='filtrados'
                                idKey="'ID'"
                                coords="'coords'"
                                options="'options'"
                                click="'open'"
                                >
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>

                <div class="list">


                    <div class="button-bar item">
                        <button class="button" ng-class="prices[filters.price].class" ng-click="changue_price()"> {{prices[filters.price].name}}</button>
                    </div>

                    <label class="item item-input item-select text-center">
                        <div class="input-label">
                            {{'Categoría' | translate}}:
                        </div>
                        <select ng-model="filters.category">
                            <option ng-repeat="category in categories">{{category.name}}</option>
                        </select>
                    </label>

                </div>


    </ion-content>



</ion-view>
