<ion-view cache-view="false">

    <ion-nav-title>
        <span class="dia">{{date | date:'d'}}</span>
        <span class="mes">{{date | date:'MMM'}}'</span>
        <span class="ano">{{date | date:'yy'}}</span>
    </ion-nav-title>

    <ion-content>

        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-markers
                    models='filtrados'
                    idKey="'ID'"
                    coords="'coords'"
                    options="'options'"
                    click="'open'"
                    doRebuildAll="'true'"
                    icon="'marker'"
                    >
            </ui-gmap-markers>
        </ui-gmap-google-map>


        <div class="item item-input boton-prezo" ng-click="changue_price()">
            {{filters.price_name}}
            <i class="icon ion-social-euro icono-dereita"></i>
        </div>

        <div class="list list-inset">
           <div class="fondo-vnc boton-categorias item item-input" ng-click="showPopup()">
                {{categories[filters.category].select_name }}
               <i class="icon ion-plus icono-dereita"></i>
            </div>

        </div>

        <form ng-submit="buscar(texto)">


            <div class="list list-inset">
                <label class="item item-input input-buscar">
                    <input type="text" ng-model="texto">
                    <span class="vnc-lupa placeholder-icon"></span>
                </label>
            </div>
        </form>

        <!-- Error raro en ios, hace que se muestre el texto de selección de preción en el div de arriba -->
        <div style="visibility: hidden;">
            {{filters.price_name}}
        </div>

    </ion-content>

</ion-view>
