<ion-view title="{{'Axenda' | translate}}" cache-view="false">
  <ion-content class="has-header" >

      <ul class="list">

          <div class="item item-divider">


<!--              <label class="item item-input">
                  <span class="input-label" translate>Data</span>
                  <input type="date" ng-model="data_evento" ng-change="showEvents(data_evento)">
              </label>
-->
              <input type="text" pick-a-date="data_evento" pick-a-date-options="options" placeholder="Select Date" />

          </div>
          <li class="item item-thumbnail-left" ng-repeat="evento in eventos | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              {{evento.post_title}}
          </li>

          <div class="item item-divider">
              {{'Inaguracións e Exposicións' | translate}}
          </div>

          <li class="item item-thumbnail-left" ng-repeat="evento in eventos2 | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              {{evento.post_title}}
          </li>

      </ul>
  </ion-content>
</ion-view>
