<ion-view>
    <ion-nav-title>
        Vivir na Coruña
    </ion-nav-title>
  <ion-content class="has-header">

      <!--<img class="full-image" src="img/vnc.jpg" >-->
      <div class="puntos padding">
          <h3>
              BENVIDO@ A VIVIR NA CORUÑA!
          </h3>
          <h2>
              Un lugar onde atopar de xeito sinxelo os eventos culturais da cidade.
          </h2>
          Non só aqueles concertos, exposicións ou obras de teatro dos lugares máis emblemáticos e coñecidos,
          que tamén, senón que queremos que sexa unha porta aberta a todas esas actividades que, a cotío, pasan
          inadvertidas para gran parte da poboación.
      </div>


      <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item enlaces" ng-click="goUrl('https://twitter.com/vivirnacoruna')">
              <i class="icon ion-social-twitter"></i>
          </a>
          <a class="tab-item enlaces" ng-click="goUrl('https://www.facebook.com/vivirnacoruna')">
              <i class="icon ion-social-facebook"></i>
          </a>
          <a class="tab-item enlaces" ng-click="goUrl('https://instagram.com/vivirnacoruna')">
              <i class="icon ion-social-instagram"></i>
          </a>

          <a class="tab-item enlaces" ng-click="goUrl('https://plus.google.com/+VivirnacorunaEs/videos')">
              <i class="icon ion-social-googleplus"></i>
          </a>

          <a class="tab-item enlaces" ng-click="goUrl('http://vivirnacoruna.es')">
              <i class="icon ion-earth"></i>
          </a>
      </div>

  </ion-content>
</ion-view>
