<ion-view cache-view="false">

    <ion-nav-title>
        <span class="dia">{{date | date:'d'}}</span>
        <span class="mes">{{date | date:'MMM'}}'</span>
        <span class="ano">{{date | date:'yy'}}</span>
    </ion-nav-title>

  <ion-content class="has-header" >

      <div class="list">
          <a class="item item-thumbnail-left item-icon-right bs-callout" ng-style="{ 'border-left-color': getColor(evento)}" ng-repeat="evento in eventos | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              {{evento.post_title}}
              <i class="icon ion-plus-circled" ng-style="{ 'color': getColor(evento)}"></i>

          </a>

          <a class="item item-thumbnail-left item-icon-right bs-callout" ng-style="{ 'border-left-color': getColor(evento)}"  ng-repeat="evento in eventos2 | orderBy:'start_date' " ng-click="goEvento(evento.ID)">
              <img ng-src={{evento.image}} ng-show="evento.image">
              {{evento.post_title}}
              <i class="icon ion-plus-circled" ng-style="{ 'color': getColor(evento)}"></i>
          </a>

      </div>


  </ion-content>

    <ion-footer-bar  align-title="center">

        <label class="item item-input fondo-vnc boton-data">
            <!--<span class="input-label" translate>Data</span>-->
            <input type="date" ng-model="data_evento" ng-change="showEvents(data_evento)">
            <i class="icon ion-arrow-down-b icono-dereita"></i>
        </label>


    </ion-footer-bar>

</ion-view>
