<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class=" tabs-default tabs-icon-top tabs-striped fondo-vnc" ng-hide="hide-tabs" >

  <!-- Home Tab -->
  <!--<ion-tab class="icono-tab" icon="icon ion-ios-home" href="#/tab/today">-->
  <ion-tab class="icono-tab tab-left" icon="vnc-portada" href="#/tab/today" title="Inicio">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Calendar Tab -->
  <ion-tab class="icono-tab tab-middle"  icon="vnc-agenda" href="#/tab/calendar" title="Axenda">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Info Tab -->
  <ion-tab class="icono-tab tab-right" icon="vnc-info" href="#/tab/settings" title="Máis info">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
