@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-6dbeiq');
    src:url('../fonts/icomoon.eot?#iefix-6dbeiq') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-6dbeiq') format('woff'),
    url('../fonts/icomoon.ttf?-6dbeiq') format('truetype'),
    url('../fonts/icomoon.svg?-6dbeiq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expo:before {
    content: "\e600";
}

.icon-pai:before {
    content: "\e601";
}

.icon-familia:before {
    content: "\e602";
}

.icon-familia2:before {
    content: "\e603";
}

.icon-escenicas:before {
    content: "\e604";
}

.icon-escenicas2:before {
    content: "\e605";
}

.icon-escenicas3:before {
    content: "\e606";
}

.icon-escenicas-4:before {
    content: "\e607";
}

.icon-escenicas5:before {
    content: "\e608";
}

.icon-escenicas6:before {
    content: "\e609";
}


/* ICONOS JAVI */
@font-face {
    font-family: 'vnc';
    src:url('../fonts/vnc.eot?-3dugdb');
    src:url('../fonts/vnc.eot?#iefix-3dugdb') format('embedded-opentype'),
    url('../fonts/vnc.woff?-3dugdb') format('woff'),
    url('../fonts/vnc.ttf?-3dugdb') format('truetype'),
    url('../fonts/vnc.svg?-3dugdb#vnc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vnc-"], [class*=" vnc-"] {
    font-family: 'vnc';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vnc-agenda:before {
    content: "\e600";
}

.vnc-compartir:before {
    content: "\e601";
}

.vnc-geo:before {
    content: "\e602";
}

.vnc-hora:before {
    content: "\e603";
}

.vnc-icono_google_plus:before {
    content: "\e604";
}

.vnc-icono_rss:before {
    content: "\e605";
}

.vnc-icono_twitter:before {
    content: "\e606";
}

.vnc-icono-facebook:before {
    content: "\e607";
}

.vnc-info:before {
    content: "\e608";
}

.vnc-lupa:before {
    content: "\e609";
}

.vnc-portada:before {
    content: "\e60a";
}

.vnc-precio:before {
    content: "\e60b";
}

.vnc-web:before {
    content: "\e60c";
}



.plug:before {
    font-family: "fontawesome";
    content: "\f1e6";
}


/* Colores de categoria y aplicación*/
.fondo-vnc{
    background-color: #f8f8f8 ;
}

.color-vnc{
    color: #f8f8f8 ;
}
/* Ajustes de titulo */


.padding-top{
    padding-top: 10%;
}


.background, .background .pane, .background, .background {
    background-color: #f8f8f8 ;
}

.tabs,.tabs-default{
    /* sin important no va en android */
    /*background-color: #f18c62 !important;*/
    background-color: inherit !important;

}

.center{
    text-align: center;
}

.item-avatar, .item-body{
    background-color: inherit;
    border-width: 0px;
}

.item-avatar p{

    font-weight: 300;
}

.item-avatar h2{

    font-weight: 900;
}

.item-body h2{

    font-weight: 900;
}

.nav-bar-title{
    color: #f8f8f8;
}

.button-clear{
    color: #f8f8f8 !important;
}

.bubble
{
    position: relative;

    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -20px;
    top: -15px;
    left: 20%;
}


.item-note{
    color: white;
}

.bar{
    /*border-bottom: 1px solid;
    border-bottom-color: #f8f8f8;
    */
    border-bottom: 1px solid;
    border-bottom-color: #B5B5B5;
}

.title,.bar{
    margin: 0px ;
    background-color: inherit ;

}

.buscar{
    background-color: white ;
}

.dia{
    color: #b5b5b5;
    font-weight: 300;
}

.mes{
    color: #999999;
    text-transform: uppercase;
    font-weight: 900;
}

.ano{
    color: #b5b5b5;
    font-weight: 300;
}

.enlaces{
    color: #f8f8f8;
    opacity: 1;
}

.boton-prezo{

    /* z-index: 7; */

    background-color: #999999;
    color: white;
    opacity: 0.7;

    float: right;
    margin-top: -13%;
    margin-left: 2.5%;

    display: inline-block;
    position: absolute;
    width: 95%;
    border-width: 0px;

    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;




}

.boton-categorias{
    color: #b5b5b5;
    border: 1px solid;
    border-color: #b5b5b5;
}

.placeholder-icon:last-child{
    padding-left: 0px;
    padding-right: 15px;
}

.icono-dereita{
    right: 15px;
    position: absolute;
}

/* PAGINA DE CALENDARIO */
.boton-data{
    color: white;
    border: 1px solid;
    border-color: white;
    width: 100%;
}
.boton-data input{
    color: white;
}

/* CALLOUT */
.bs-callout {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.icono-tab .icon{
    font-size: 22px;
    padding-top: 7px;
}

.puntos {
    margin: 5px;
    border-style: dotted;
    border-width: 2px;
    border-color: deepskyblue;
}

.tab-item-active{
    color: #ef7d48;
    border-color: #ef7d48 !important;
    border-width: 0px 0px 4px 0px !important;
}

.marker-label{
    background-color: white;
    color: #b5b5b5;
    text-transform: uppercase;
}

.popup-head{
    padding: 0px;
    border-bottom: 0px;
}

.popup-body{
    padding: 0px;
    overflow: auto;
}

.lista-categorias{
    color: #b5b5b5;
}

