@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-6dbeiq');
    src:url('../fonts/icomoon.eot?#iefix-6dbeiq') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-6dbeiq') format('woff'),
    url('../fonts/icomoon.ttf?-6dbeiq') format('truetype'),
    url('../fonts/icomoon.svg?-6dbeiq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expo:before {
    content: "\e600";
}

.icon-pai:before {
    content: "\e601";
}

.icon-familia:before {
    content: "\e602";
}

.icon-familia2:before {
    content: "\e603";
}

.icon-escenicas:before {
    content: "\e604";
}

.icon-escenicas2:before {
    content: "\e605";
}

.icon-escenicas3:before {
    content: "\e606";
}

.icon-escenicas-4:before {
    content: "\e607";
}

.icon-escenicas5:before {
    content: "\e608";
}

.icon-escenicas6:before {
    content: "\e609";
}


/* ICONOS JAVI */
@font-face {
    font-family: 'vnc';
    src:url('../fonts/vnc.eot?nqv89c');
    src:url('../fonts/vnc.eot?#iefixnqv89c') format('embedded-opentype'),
    url('../fonts/vnc.woff?nqv89c') format('woff'),
    url('../fonts/vnc.ttf?nqv89c') format('truetype'),
    url('../fonts/vnc.svg?nqv89c#vnc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vnc-"], [class*=" vnc-"] {
    font-family: 'vnc';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vnc-icono_instagram .path1:before {
    content: "\e60d";
    color: rgb(236, 125, 79);
}
.vnc-icono_instagram .path2:before {
    content: "\e60e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.vnc-agenda:before {
    content: "\e600";
}
.vnc-compartir:before {
    content: "\e601";
}
.vnc-geo:before {
    content: "\e602";
}
.vnc-hora:before {
    content: "\e603";
}
.vnc-icono_google_plus:before {
    content: "\e604";
}
.vnc-icono_rss:before {
    content: "\e605";
}
.vnc-icono_twitter:before {
    content: "\e606";
}
.vnc-icono-facebook:before {
    content: "\e607";
}
.vnc-info:before {
    content: "\e608";
}
.vnc-lupa:before {
    content: "\e609";
}
.vnc-portada:before {
    content: "\e60a";
}
.vnc-precio:before {
    content: "\e60b";
}
.vnc-web:before {
    content: "\e60c";
}




.plug:before {
    font-family: "fontawesome";
    content: "\f1e6";
}


/* Colores de categoria y aplicación*/
.fondo-vnc{
    background-color: #f8f8f8 ;
}

.color-vnc{
    color: #f8f8f8 ;
}
/* Ajustes de titulo */


.padding-top{
    padding-top: 10%;
}


.background, .background .pane, .background, .background {
    background-color: #f8f8f8 ;
}

.tabs,.tabs-default{
    /* sin important no va en android */
    /*background-color: #f18c62 !important;*/
    background-color: inherit !important;
    padding-top: 5px;

}

.center{
    text-align: center;
}

.evento-datos{
    font-weight: 300;
    color: #999999;
}

.evento-descripcion{
    color: white !important;
}

.evento-titulo{
    font-weight: 300;
    text-transform: uppercase;
}
.evento-iconos{
    font-size: 15px;

}

.evento-data{
    font-weight: 200;
    text-align: right;
    color: #999999;
}

.evento-image{
    border-top: 4px solid;
}

.evento-enlaces{
    background-color: rgba(150,150,150,0.4);
    text-transform: uppercase;
    color: white;
}

.borde-derecho{
    border-right: 0.5px solid;
    border-color: #f8f8f8;
}

.nav-bar-title{
    color: #f8f8f8;
}

.button-clear{
    color: #f8f8f8 !important;
}

.bubble
{
    position: relative;

    /*background: #FFFFFF;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 15px;
    /*border-color: #FFFFFF transparent;*/
    /*border-color: #f8f8f8 transparent;*/
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -20px;
    top: -15px;
    left: 20%;
}

.bubble-expo:after{
    border-color: #605ca8 transparent;
}

.bubble-let:after{
    border-color: #f18c62 transparent;
}

.bubble-audio:after{
    border-color: #aba000 transparent;
}

.bubble-fam:after{
    border-color: #6dcff6 transparent;
}

.bubble-cha:after{
    border-color: #b86e71 transparent;
}

.bubble-mus:after{
    border-color: #005952 transparent;
}

.bubble-es:after{
    border-color: #f06eaa;
}


.item-note{
    color: #999999;
}

.bar{
    /*border-bottom: 1px solid;
    border-bottom-color: #f8f8f8;
    */
    border-bottom: 1px solid;
    border-bottom-color: #B5B5B5;
}

.title,.bar{
    margin: 0px ;
    background-color: inherit ;

}


.dia{
    color: #b5b5b5;
    font-weight: 300;
}

.mes{
    color: #999999;
    text-transform: uppercase;
    font-weight: 900;
}

.ano{
    color: #b5b5b5;
    font-weight: 300;
}

.boton-prezo{

    /* z-index: 7; */

    background-color: rgba(99,99,99,0.4);

    color: white;

    float: right;
    margin-top: -13%;
    margin-left: 2.5%;

    display: inline-block;
    position: absolute;
    width: 95%;
    border-width: 0px;

    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;




}

.boton-categorias{
    color: #b5b5b5;
    border: 1px solid;
    border-color: #b5b5b5;
}

.placeholder-icon:last-child{
    padding-left: 0px;
    padding-right: 15px;
    color: #ef7d48;
}

.input-buscar{
    border-width: 0px;
    background-color: #f8f8f8;
    border-color: #ef7d48;
    border-bottom-width: 1px;
    border-style: solid;
}


.icono-dereita{
    right: 15px;
    position: absolute;
}

/* PAGINA DE CALENDARIO */
.boton-data{
    color: #999999;
    border: 1px solid;
    border-color: #b5b5b5;
    width: 100%;
}
.boton-data input{
    color: #f8f8f8;
}

.texto-imaxe{
    z-index:100;
    position:absolute;
    color:#f8f8f8;
    font-size:15px;
    font-weight:bold;
    text-transform: uppercase;

    top:45%;
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
}

/* CALLOUT */
.bs-callout {
    border: 1px solid #eee;
    border-right-width: 5px;
    border-radius: 3px;
}

.icono-tab .icon{
    font-size: 22px;
    padding-top: 7px;
}

.puntos {
    margin: 5px;
    border-style: dotted;
    border-width: 2px;
    border-color: #269fda;
    margin-bottom: 30px;
}

.puntos h3{
    color: #269fda;
}

.puntos h4{
    color: #999999;
}

.puntos p{
    color: #b5b5b5;
}
.tab-item{
    border-color: #b5b5b5 !important;

    border-style: solid;
}

.tab-left{
    border-width: 0px 0px 2px 0px !important;
}

.tab-middle{
    border-width: 0px 1px 2px 1px !important;
}

.tab-right{
    border-width: 0px 0px 2px 0px !important;
}
.tab-item-active{
    color: #ef7d48;
    border-bottom-color: #ef7d48 !important;
    margin-top: 0px !important;
}


.marker-label{
    background-color: white;
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 10px;
}

.popup-head{
    padding: 0px;
    border-bottom: 0px;
}

.popup-body{
    padding: 0px;
    overflow: auto;
}

.lista-categorias{
    color: #b5b5b5;
    border-width: 0px;
    background-color:rgba(255,255,250,0.8);
    margin: 0px;
    padding-top: 5px;
    text-transform: uppercase;
}

.categorias-container{
    padding-left: 5%;
    padding-top: 35%;
    font-weight: 100;
}

.popover-backdrop.active{
    background-color: transparent;
}

.boton-atras{
    color: #999999 !important;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
    font-family: 'Open Sans';
}


/* info */
.redes{
    font-size: 50px;
    color: #ef7d48;
    margin-bottom: 30px;
}
.redes span{
    /*margin: -4px;*/
}

.boton-info{
    color: #999999;
    border-color: #b5b5b5;
}

.copyright{
    color: #b5b5b5;
}

.nombre-categoria{
    color: #999999;
    text-transform: uppercase;
}

.fondo-laranxa{
    background-color: #ef7d48;
    padding-top: 30%;
}
.fondo-laranxa h1,h2,h3,h4,h5{
    color: white;
}

.fondo-laranxa h5{
    font-weight: 200;
}

.date-container{
    margin-top: 80%;
    background-color:rgba(255,255,255,0.95);
    width: 90%;
    margin-left: 5%;
    height: 50%;
}

.date-bordes{
  border-color: #7f7f7f;
    border-style: solid;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
}

.date-text{
    font-size: x-large;
    text-transform: uppercase;
    color: #b5b5b5;
}

.boton-select-data{
    background-color: #ef7d48;
    color: white;
    width: 100%;
    font-size: large;
    font-weight: 200;
}

.custom-footer{
    height: 65px;
}

.custom-title{
    height: inherit !important;
}

.calendar-image{
    /*
    min-height: 200px;
    max-height: 200px;
    */
}


